* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
}

p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6em;
}

a {
  text-decoration: none;
  color: white;
}

div, p, a, button, input, form, span, ul, li {
  box-sizing: border-box;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
h1, h2, h3, h4 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  line-height: 3.4em;
}

h3 {
  font-size: 18px;
  line-height: 1.8em;
}

.footerNav, #newCollection .wrapper, #btnsMain .btnsMain, .background #header .nav .address {
  display: flex;
  justify-content: space-between;
}

.background {
  background: url(./img/backgound.svg);
  background-size: cover;
}
.background #header {
  padding-top: 30px;
}
.background #header .nav .address {
  padding-bottom: 20px;
}
.background #header .nav .address .street p, .background #header .nav .address .tel p {
  font-size: 13px;
}

.btns {
  display: flex;
}
.btns .btn {
  padding: 10px 99px;
  border: 1px solid #ffffff;
  transition: ease-in-out 0.8s;
  cursor: pointer;
}
.btns .btn:hover {
  background-color: #99862A;
}
.btns .btn.left {
  border-left: none;
}
.btns .btn.right {
  border-right: none;
}

@media screen and (max-width: 1200px) {
  .btns .btn {
    padding: 10px 80px;
  }
}
@media screen and (max-width: 1200px) {
  .btns .btn {
    padding: 10px 50px;
  }
}
#btnsMain {
  padding: 583px 0 150px;
}
#btnsMain .btnsMain {
  max-width: 415px;
  margin: auto;
}

.button a p {
  text-transform: uppercase;
  letter-spacing: 0.04em;
  padding: 15px 30px;
  background: #998431;
  transition: ease-in-out 1s;
}
.button a p:hover {
  background-color: #af9839;
  transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
  #btnsMain {
    padding-top: 450px;
  }
}
#comment, #feedBack {
  background-color: #282828;
  padding: 100px 0;
}

.comment {
  padding: 60px 187px;
  border: 3px solid #C4C4C4;
  text-align: center;
}
.comment .textComment p {
  font-size: 16px;
  font-weight: normal;
}
.comment .wineGlass {
  padding-top: 50px;
}

.separator {
  border: 1px solid #FFFFFF;
  margin: 10px auto 40px;
  width: 160px;
}

@media screen and (max-width: 1200px) {
  .comment {
    padding: 60px 138px;
  }
}
@media screen and (max-width: 992px) {
  .comment {
    padding: 60px 63px;
  }
  .title h2 {
    line-height: 1.6em;
  }
  .separator {
    margin-top: 35px;
  }
}
#newCollection {
  padding: 60px 0;
  background-color: #E6E3C4;
  color: #000;
}
#newCollection .wrapper {
  border-top: 1px solid #998431;
  border-bottom: 1px solid #998431;
  padding: 60px 0;
}
#newCollection .wrapper .contentLeftSide .lorem p, #newCollection .wrapper .contentLeftSide .subtitle p {
  max-width: 445px;
  font-size: 14px;
  font-weight: normal;
  margin-top: 25px;
}
#newCollection .wrapper .contentLeftSide .main p {
  font-size: 16px;
}
#newCollection .wrapper .contentLeftSide .title h2 {
  margin-top: 30px;
  max-width: 300px;
  line-height: 1.2em;
}
#newCollection .wrapper .contentLeftSide .separator {
  border-color: #000;
  margin: 30px 0 0;
}
#newCollection .wrapper .contentLeftSide .yearGrig {
  display: grid;
  grid-template-columns: repeat(1, 80px 363px);
  align-items: center;
  justify-items: center;
  margin-top: 30px;
}
#newCollection .wrapper .contentLeftSide .nameEvent {
  padding: 9.2px 34px;
  border-bottom: 1px solid #282828;
}
#newCollection .wrapper .contentLeftSide .nameEvent .subtitle p {
  margin-top: 0;
}
@media screen and (max-width: 1200px) {
  #newCollection .wrapper .contentLeftSide .nameEvent {
    padding: 5.1px 36px;
  }
}
#newCollection .wrapper .contentLeftSide .lineBottomNone {
  border-bottom: none;
}
#newCollection .wrapper .contentLeftSide .button a p {
  max-width: 254px;
  margin-top: 25px;
}
@media screen and (max-width: 1200px) {
  #newCollection .wrapper .contentLeftSide {
    padding-right: 40px;
  }
}
#newCollection .wrapper .contentImg .img2 {
  padding-top: 30px;
  display: grid;
  gap: 30px;
}
#newCollection .wrapper .contentImg .img3 {
  grid-column: 2/2;
}
@media screen and (max-width: 992px) {
  #newCollection .wrapper .contentImg .img3 {
    grid-row: 1/2;
    grid-column: 1/1;
  }
}

.year {
  padding: 24px;
  border-right: 1px solid #282828;
  border-bottom: 1px solid #282828;
}

.img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .year {
    padding: 20px;
  }
}
.feedBack {
  display: flex;
  justify-content: space-around;
  border: 3px solid #C4C4C4;
  position: relative;
}
.feedBack .sing {
  text-align: center;
  max-width: 540px;
  padding-bottom: 80px;
}
.feedBack .sing .title {
  transform: translate(5%, -50%);
  max-width: 490px;
  background-color: #282828;
}
.feedBack .sing .separator {
  margin-top: -40px;
  max-width: 120px;
}
.feedBack .sing .subtitle p {
  font-size: 16px;
  opacity: 0.8;
}
.feedBack .sing #form {
  margin-top: 80px;
}
.feedBack .sing #form input, .feedBack .sing #form select {
  font-size: 13px;
  color: #FFFFFF;
  background: #282828;
  border: none;
  font-family: "Montserrat", sans-serif;
}
.feedBack .sing #form input[type=text], .feedBack .sing #form input[type=tel], .feedBack .sing #form select {
  width: 254px;
  padding: 10px;
  border-bottom: 1px solid #FFFFFF;
}
.feedBack .sing #form input[type=text] {
  margin-right: 27px;
}
.feedBack .sing #form .place > select, .feedBack .sing #form input[type=submit] {
  width: 100%;
  margin-top: 40px;
}
.feedBack .sing #form input[type=submit] {
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  padding: 15px 0;
  transition: ease-in-out 0.8s;
  cursor: pointer;
}
.feedBack .sing #form input[type=submit]:hover {
  background-color: #493b3b;
}
.feedBack .sing #form input::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 0.91;
}

.grape {
  transform: translate(-20%, -13%);
}

.barrel {
  transform: translate(21%, -12%);
}

@media screen and (max-width: 1200px) {
  .grape, .barrel {
    display: none;
  }
}
#footer {
  padding: 50px 0;
  background: #998431;
}

.footerNav {
  padding: 0 120px;
  border-top: 1px solid #FFFFFF;
}
.footerNav a p {
  font-size: 14px;
  font-weight: normal;
  padding: 20px 0;
}

.footerInf .btn.footerInf a p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.btn.footerInf {
  padding: 20px 47px;
}

.btn.left.footerInf {
  padding-left: 120px;
}

.btn.right.footerInf {
  padding-right: 118px;
}

.links {
  margin-right: 35px;
}

@media screen and (max-width: 1200px) {
  .footerNav {
    padding: 0;
  }
  .btn.left.footerInf {
    padding-left: 0;
  }
  .btn.right.footerInf {
    padding-right: 87px;
  }
}
@media screen and (max-width: 992px) {
  .footerNav {
    border-bottom: 1px solid #FFFFFF;
  }
  .footerInf {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
