@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Playfair+Display:ital,wght@1,600&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    color: white;
}

p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6em;
}
@media screen and (max-width: 576px) {
    p {
        font-size: 14px;
    }
}
a {
    text-decoration: none;
    color: white;
}

div,
p,
a,
button,
input,
form,
span,
ul,
li {
    box-sizing: border-box;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}
@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}
@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}
@media screen and (max-width: 576px) {
    .container {
        max-width: 96.7%;
    }
}

h1,
h2,
h3,
h4 {
    font-family: "Playfair Display", serif;
    font-size: 34px;
    line-height: 3.4em;
}
h1 {
    font-size: 46px;
}
h3 {
    font-size: 18px;
    line-height: 1.8em;
}

// variables
%differentSides {
    display: flex;
    justify-content: space-between;
}
%menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// header
.background {
    background: url(./img/backgound.svg);
    background-size: cover;
    #header {
        padding-top: 30px;
        .nav {
            .address {
                @extend %differentSides;
                padding-bottom: 20px;
                .menu {
                    display: none;
                }
                .street p,
                .tel p {
                    font-size: 13px;
                }
                @media screen and (max-width: 576px) {
                    .street {
                        display: none;
                    }
                    .menu {
                        display: block;
                    }
                }
            }
            @media screen and (max-width: 576px) {
                .address {
                    align-items: center;
                }
            }
        }
    }
    @media screen and (max-width: 576px) {
        #header {
            padding-top: 5px;
        }
    }
}
.btns {
    display: flex;
    .btn {
        padding: 10px 99px;
        border: 1px solid #ffffff;
        transition: ease-in-out 0.8s;
        cursor: pointer;
        &:hover {
            background-color: #99862a;
        }
    }
    .btn.left {
        border-left: none;
    }
    .btn.right {
        border-right: none;
    }
}
@media screen and (max-width: 1200px) {
    .btns .btn {
        padding: 10px 80px;
    }
}
@media screen and (max-width: 992px) {
    .btns .btn {
        padding: 10px 50px;
    }
}
@media screen and (max-width: 768px) {
    .btns .btn {
        padding: 10px 27.5px;
    }
}
@media screen and (max-width: 576px) {
    .btns {
        display: none;
    }
}
// btnsMain
#btnsMain {
    padding-bottom: 150px;
    .title h1 {
        text-align: center;
        line-height: normal;
        padding-top: 300px;
    }
    @media screen and (max-width: 768px) {
        .title h1 {
            padding-top: 175px;
            font-size: 42px;
        }
    }
    .btnsMain {
        @extend %differentSides;
        max-width: 415px;
        margin: auto;
        padding-top: 160px;
    }
}
.button a p {
    text-transform: uppercase;
    letter-spacing: 0.04em;
    padding: 15px 30px;
    background: #998431;
    transition: ease-in-out 1s;
    &:hover {
        background-color: #af9839;
        transform: scale(1.1);
    }
}
@media screen and (max-width: 576px) {
    #btnsMain {
        padding-bottom: 50px;
    }
    .btnsMain {
        flex-direction: column;
    }
    .button a p {
        text-align: center;
        &:hover {
            transform: none;
        }
    }
    .button.second {
        padding-top: 15px;
    }
}

// comment
#comment,
#feedBack {
    background-color: #282828;
    padding: 100px 0;
}
@media screen and (max-width: 576px) {
    #comment,
    #feedBack {
        padding: 75px 0;
    }
}
.comment {
    padding: 60px 187px;
    border: 3px solid #c4c4c4;
    text-align: center;
    .textComment p {
        font-size: 16px;
        font-weight: normal;
    }
    .wineGlass {
        padding-top: 50px;
    }
}

.separator {
    border: 1px solid #ffffff;
    margin: 10px auto 40px;
    width: 160px;
}

@media screen and (max-width: 1200px) {
    .comment {
        padding: 60px 138px;
    }
}
@media screen and (max-width: 992px) {
    .comment {
        padding: 60px 63px;
    }
    .title h2 {
        line-height: 1.6em;
    }
    .separator {
        margin-top: 35px;
    }
}
@media screen and (max-width: 576px) {
    .comment {
        padding: 55px 8px;
    }
    .comment .textComment p {
        font-size: 14px;
    }
    .title h2 {
        font-size: 28px;
    }
}
// newCollectin
#newCollection {
    padding: 60px 0;
    background-color: #e6e3c4;
    color: #000;
    .wrapper {
        @extend %differentSides;
        border-top: 1px solid #998431;
        border-bottom: 1px solid #998431;
        padding: 60px 0;
        .contentLeftSide {
            .lorem p,
            .subtitle p {
                max-width: 445px;
                font-size: 14px;
                font-weight: normal;
                margin-top: 25px;
            }
            .main p {
                font-size: 16px;
            }
            .title h2 {
                margin-top: 30px;
                max-width: 300px;
                line-height: 1.2em;
            }
            @media screen and (max-width: 576px) {
                .title h2 {
                    max-width: 100%;
                }
            }
            .separator {
                border-color: #000;
                margin: 30px 0 0;
            }
            .yearGrig {
                display: grid;
                grid-template-columns: repeat(1, 80px 363px);
                margin-top: 30px;
            }
            @media screen and (max-width: 576px) {
                .yearGrig {
                    grid-template-columns: repeat(1, 72px 235px);
                    align-items: stretch;
                }
            }
            .nameEvent {
                padding: 9.2px 44px;
                border-bottom: 1px solid #282828;
                .subtitle p {
                    margin-top: 0;
                }
            }
            @media screen and (max-width: 1200px) {
                .nameEvent {
                    padding: 5.1px 36px;
                }
            }
            .lineBottomNone {
                border-bottom: none;
            }
            .button a p {
                max-width: 254px;
                margin-top: 25px;
            }
            @media screen and (max-width: 768px) {
                .button a p {
                    max-width: 100%;
                    text-align: center;
                }
            }
        }
        @media screen and (max-width: 1200px) {
            .contentLeftSide {
                padding-right: 40px;
            }
        }
        @media screen and (max-width: 768px) {
            .contentLeftSide {
                justify-content: center;
            }
        }
        @media screen and (max-width: 576px) {
            .contentLeftSide {
                padding: 0;
            }
            .title h2 {
                max-width: 100%;
            }
        }
        .contentImg {
            .img2 {
                padding-top: 30px;
                display: grid;
                gap: 30px;
            }
            .img3 {
                grid-column: 2/2;
            }
            @media screen and (max-width: 992px) {
                .img3 {
                    grid-row: 1/2;
                    grid-column: 1/1;
                }
            }
        }
        @media screen and (max-width: 768px) {
            .contentImg {
                display: none;
            }
        }
    }
    @media screen and (max-width: 768px) {
        .wrapper {
            justify-content: space-around;
        }
    }
}
.year {
    padding: 24px;
    border-right: 1px solid #282828;
    border-bottom: 1px solid #282828;
}
.img {
    width: 100%;
}
@media screen and (max-width: 1200px) {
    .year {
        padding: 20px;
    }
}

// feedBack
.feedBack {
    display: flex;
    justify-content: space-around;
    border: 3px solid #c4c4c4;
    position: relative;
    .sing {
        text-align: center;
        max-width: 540px;
        padding-bottom: 80px;
        .title {
            transform: translate(5%, -50%);
            max-width: 490px;
            background-color: #282828;
        }
        @media screen and (max-width: 768px) {
            .title {
                transform: translate(2%, -50%);
            }
        }
        .separator {
            margin-top: -40px;
            max-width: 120px;
        }
        @media screen and (max-width: 576px) {
            .separator {
                margin-top: -10px;
            }
        }
        .subtitle p {
            font-size: 16px;
            opacity: 0.8;
        }
        #form {
            margin-top: 80px;
            input,
            select {
                font-size: 13px;
                color: #ffffff;
                background: #282828;
                border: none;
                font-family: "Montserrat", sans-serif;
            }
            input[type="text"],
            input[type="tel"],
            select {
                width: 254px;
                padding: 10px;
                border-bottom: 1px solid #ffffff;
            }
            @media screen and (max-width: 768px) {
                input[type="text"],
                input[type="tel"],
                select {
                    width: auto;
                }
            }
            input[type="text"] {
                margin-right: 27px;
            }
            .place > select,
            input[type="submit"] {
                width: 100%;
                margin-top: 40px;
            }
            input[type="submit"] {
                text-transform: uppercase;
                border: 1px solid #ffffff;
                padding: 15px 0;
                transition: ease-in-out 0.8s;
                cursor: pointer;
                &:hover {
                    background-color: #493b3b;
                }
            }
            input::-webkit-input-placeholder {
                color: #ffffff;
                opacity: 0.91;
            }
            @media screen and (max-width: 576px) {
                input[type="text"] {
                    margin-right: 0;
                }
                input[type="tel"] {
                    margin-top: 15px;
                }
                .contactInfo {
                    flex-direction: column;
                    display: flex;
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        .sing {
            padding: 0 15px 40px 15px;
        }
    }
}

.grape {
    transform: translate(-20%, -13%);
}
.barrel {
    transform: translate(21%, -12%);
}
@media screen and (max-width: 1200px) {
    .grape,
    .barrel {
        display: none;
    }
}

// footer

#footer {
    padding: 50px 0;
    background: #998431;
}
.footerNav {
    @extend %differentSides;
    padding: 0 120px;
    border-top: 1px solid #ffffff;
    a p {
        font-size: 14px;
        font-weight: normal;
        padding: 20px 0;
    }
}
@media screen and (max-width: 768px) {
    .footerNav {
        a p {
            font-size: 12px;
        }
    }
}
.footerInf {
    .btn.footerInf {
        a p {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
        }
    }
}

.btn.footerInf {
    padding: 20px 47px;
}
.btn.left.footerInf {
    padding-left: 120px;
}
.btn.right.footerInf {
    padding-right: 118px;
}

.links {
    margin-right: 35px;
}
@media screen and (max-width: 1200px) {
    .footerNav {
        padding: 0;
    }
    .btn.left.footerInf {
        padding-left: 0;
    }
    .btn.right.footerInf {
        padding-right: 87px;
    }
}
@media screen and (max-width: 992px) {
    .footerNav {
        border-bottom: 1px solid #ffffff;
    }
    .footerInf {
        display: none;
    }
}
@media screen and (max-width: 576px) {
    .d-none {
        display: none;
    }
}

// menuBar
.menuBar {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #282828;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.close {
    padding: 30px;
}
.menuBtn {
    @extend %menu;
    .link h2 {
        font-size: 24px;
    }
    .linkB a p {
        text-transform: uppercase;
    }
    .bottom {
        @extend %menu;
        margin-top: 35px;
        .linkB {
            padding-top: 15px;
        }
    }
}
